html{
    background: #000 url("https://bit.ly/2CJyIYw");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    background-color: black;
    position: relative;
    }
    nav ul li{
        list-style: none;
        margin: 0 20px;
        color: #b2b1b1;
        cursor: pointer;
    }
    nav{
        width: 100%;
        background-color:  rgb(20, 6, 15);
        padding: 1%;
        position: fixed;
        top: 0;
        right:0;
        left: 0;
        height: 4%;
        z-index:1;
        padding-right: 3%;
    }
     nav li{
        display: inline;
        justify-content: space-around;
        padding: 20px;
        list-style-type: none;
        background-color: rgb(15, 5, 11);
    }
    
    nav ul{
        display: inline-flex;
        margin: 1px;
    }
    
    nav ul li a{
        color: red;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
    }
        
    nav>ul>li>a:hover {
        box-shadow: 0 0 10px black, inset 0 0 1px black;
        background: rgb(173, 5, 41);
        color: black;
        } 
        
    .logo img{
            width: 50px;
            margin-top: -15px;
            margin-right: 48px;
            margin-bottom: -20px;
        }  
    .Me{
            background-image: url("https://i.pinimg.com/originals/e2/8d/61/e28d61b0ce1b686bbd9c19b98912101f.gif");
            background-repeat: no-repeat;
            background-size: cover;
            /* background-attachment: fixed;  */
            background-color: black;
            /* position: relative; */
            /* top: 0;
            bottom:0;
            left: 0;
            right: 0; */
            height: 95vh;
            width: 100%;
            text-align: center;
            padding-top: 80px;
        }
    .info{
            float: left;
            margin: auto;
            width: 33.33%;
            height: auto;
            background: #eee;
            border: green 1px solid;
        }
    .info-img{
            width: 100%;
        }
    .info-title{
            padding: 6px;
            font-size: 22px;
            color: orange;
        }
    .info-des{
            padding: 6px;
        }
    .rotate{
        transition: width 2s,height 2s; 
        transform:6s;
    }
    .rotate:hover{
        transform: rotate(360deg);
    }